/* Give your page a fun background color */
body {
  background-color: #00BFFF;
}
/* Make the header and footer a different color from the background */
h1 {
  background-color: grey;
}
footer {
  background-color: grey;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align:center;
}
/* Make your p tag a different color and italic */
p {
  color: yellow;
  font-style: italic;
}
/* Put a border around your image */
img {
  width: 10%;
  height: auto;
  border: 5px solid #555;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
/* Change the font-family of your list */
ul {
  font-family: fantasy;
}
